@font-face {
    font-family: MontserratMedium;
    src: url(../../Font/Montserrat/Montserrat-Medium.ttf);

}

@font-face {
    font-family: MontserratBold;
    src: url(../../Font/Montserrat/Montserrat-SemiBold.ttf);

}

body {
    background-color: #e0e0e0;
    font-family: 'MontserratMedium', sans-serif;
}



.navbar .container .navbar-brand {
    font-family: 'MontserratBold', sans-serif;
    /* color: #21409A; */
    color: black;
}

.navbar .nav-item .nav-link {
    font-family: 'MontserratMedium', sans-serif;
    /* color: #21409A; */
    color: black;
    opacity: 1;
}

.navbar {
    background-color: #e0e0e0;
}

.nav-link:hover {
    opacity: 1;
}

.task-header {
    border-radius: 50px;
    background: linear-gradient(145deg, #cacaca, #f0f0f0);
    box-shadow: 20px 20px 60px #bebebe,
        -20px -20px 60px #ffffff;
    padding: 30px;
    margin-top: 20px;
}

.main {
    margin-top: 40px;
    color: black;
}


.menuList {
    margin: auto;
    margin-left: 0;
    padding-left: 0;
}

.task-title {
    color: black;
}

video,
img {
    width: 250px;
}

.img {
    display: inline;
}